body {
  background-color: #defcf9;
}

#title {
  padding: 20px;
  font-weight: bold;
}

.form-control {
  background-color: #f7fbfc;
}

.my-btn {
  border: 2px solid;
  font-weight: bold;
  color: #1a1a1d;
  border-radius: 50px;
  border-color: #1a1a1d;
}

.my-btn:hover {
  border-color: #6f2232;
  background-color: #6f2232;
  color: #efeee5;
  transition: 500ms;
}

#topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

#main-content {
  align-items: center;
  justify-content: center;
}

#labSubSwitch,
#labAssSwitch,
#midtermSwitch,
#labMidtermSwitch,
#finalSwitch {
  height: 25px;
  width: 50px;
}

.toggleHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#midtermContainer,
#labMidtermContainer,
#finalContainer {
  margin: 0;
}

.noOfs {
  margin: 0;
  display: flex;
  justify-content: end;
}

.categories {
  padding-top: 30px;
  padding-bottom: 10px;
}

.noPadding {
  padding: 0;
}

.fields {
  padding-top: 10px;
}

#total {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 300px;
  padding-top: 50px;
}

.courses {
  padding-top: 10px;
}

.crhrs {
  display: flex;
  justify-content: space-between;
}

.form-select {
  width: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .crhrs {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1200px) {
  .crhrs {
    justify-content: space-around;
  }
}
